In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Load dataset

In [76]:
df = pd.read_csv('Salary_Data.csv')
df_salary = df.copy()
print(df_salary.head())
print(f'The dataset has {df_salary.shape[0]} rows')

    Age  Gender Education Level          Job Title  Years of Experience  \
0  32.0    Male      Bachelor's  Software Engineer                  5.0
1  28.0  Female        Master's       Data Analyst                  3.0
2  45.0    Male             PhD     Senior Manager                 15.0
3  36.0  Female      Bachelor's    Sales Associate                  7.0
4  52.0    Male        Master's           Director                 20.0

     Salary
0   90000.0
1   65000.0
2  150000.0
3   60000.0
4  200000.0
The dataset has 6704 rows

In [77]:
#Rename columns

names = {'Age':'age', 'Gender':'gender', 'Education Level':'education_level',
         'Job Title':'job_title', 'Years of Experience':'experience_years', 'Salary':'salary'}

df_salary.rename(columns=names, inplace=True)
print(df_salary.head())

    age  gender education_level          job_title  experience_years    salary
0  32.0    Male      Bachelor's  Software Engineer               5.0   90000.0
1  28.0  Female        Master's       Data Analyst               3.0   65000.0
2  45.0    Male             PhD     Senior Manager              15.0  150000.0
3  36.0  Female      Bachelor's    Sales Associate               7.0   60000.0
4  52.0    Male        Master's           Director              20.0  200000.0

In [78]:
# get top 5 jobs by count
top_jobs = df_salary['job_title'].value_counts()
top_jobs =  top_jobs.head(5).index.to_list()

# filter dataset
df_salary = df_salary[df_salary['job_title'].isin(top_jobs)]

print(df_salary.head())
print(f'The dataset has {df_salary.shape[0]} rows')

      age  gender education_level          job_title  experience_years  \
0    32.0    Male      Bachelor's  Software Engineer               5.0
1    28.0  Female        Master's       Data Analyst               3.0
32   29.0    Male        Master's     Data Scientist               3.0
81   41.0  Female        Master's       Data Analyst              13.0
375  31.0    Male        Master's     Data Scientist               6.0

       salary
0     90000.0
1     65000.0
32    75000.0
81    80000.0
375  160000.0
The dataset has 2028 rows